[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jackstrap"]
	path = jackstrap
	url = https://github.com/klebermsousa/jackstrap
